# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env


# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Trained models
__pycache__/
*.pyc
*.pyo
*.egg-info/
mlruns/
 mlflow.db
# Model artifacts
*.pt
*.pth
*.pkl
*.joblib

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/